<footer>
  <!-- Figure -->
  <figure>
    <a href="index.html">
      <img src="../assets/logo-bieb-in-bloei-bruin.svg" alt="logo bieb in bloei">
    </a>

    <figcaption>Ons derde Bieb in Bloei project is de Zadenbieb. Deze zal eind 2024 gemaakt worden door
 
 
 
    kinderen uit de buurt bij de Maakplaats in OBA Javaplein.
    </figcaption>
  </figure>

  <!-- Menu -->
  <section class="menu">
    <h3>Menu</h3>
    <ul class="menu-items">
      <li>
        <a href="#">Stekjes</a>
      </li>
      <li>
        <a href="#">Zaadjes</a>
      </li>
      <li>
        <a href="index.html">De geveltuin</a>
      </li>
      <li>
        <a href="partner.html">Partners</a>
      </li>
      <li>
        <a href="#">Agena</a>
      </li>
      <li>
        <a href="contact.html">Contact</a>
      </li>
    </ul>
  </section>

  <!-- Samenwerken -->
  <section class="samenwerken">
    <h3>Samenwerken?</h3>
    <p>Wil jij met andere organisaties, buurtbewoners en studenten samenwerken aan stedelijke uitdagingen
 
 
       in Amsterdam Oost? Stuur een e-mail naar
      <a href="mailto:buurtcampusoost@hva.nl">buurtcampusoost@hva.nl</a>.</p>
  </section>
</footer></body></html>