<header>
  <div class="overlay"></div>
  <a class="logo" href="/">
    <img src="../assets/logo-bieb-in-bloei-wit.svg" alt="Bieb in Bloei">
  </a>

  <!-- Hamburger Menu -->
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <!-- Navbar Links -->
  <ul class="navbar-links">
    <li>
      <a href="/stekjes">Stekjes</a>
    </li>
    <li>
      <a href="#">Zaden</a>
    </li>
    <li>
      <a href="#">Geveltuin</a>
    </li>
    <li>
      <a href="#">Agenda</a>
    </li>
    <li>
      <a href="#">Partners</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>

  <h1>
    {{ title }}
  </h1>
  <h2>
    {{ description }}
  </h2>
</header>