<section class="stekjes-collection">
  <h2 class="stekjes-collection-title">Vind jouw favoriet in onze collectie geliefde stekjes</h2>
  <div class="stekjes-collection-grid">
      {% for stekje in stekjes %}
        {% include 'partials/stekje-item.liquid' %}
      {% else %}
        {% include 'partials/empty-stekje-card.liquid' %}
      {% endfor %}
    </div>
  </div>
</section>
