<section class="stekjes-collection">
  <h2 class="stekjes-collection-title">Vind jouw favoriet in onze collectie geliefde stekjes</h2>
  <div class="stekjes-collection-grid">
      {% for stekje in stekjes %}
        {% include 'partials/stekje-item.liquid' %}
      {% else %}
        {% include 'partials/empty-stekje-card.liquid' %}
      {% endfor %}
    </div>
  </div>
</section>

<style>
  .stekjes-collection {
    padding: 1rem;
    max-width: 1400px;
    margin: 0 auto 5em;
  }

  .stekjes-collection-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #2a5c45;

    @media (min-width: 600px) {
      font-size: 2rem;
    }
  }

  .stekjes-collection-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;

    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 800px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .stekje-item {
  @media (min-width: 800px) {
    height: 600px;
  }
}
</style>