
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  background-color: #f2deab;
  padding: 3em 1em;
  gap: 30px;
  border-radius: 20px 20px 0 0;
  z-index: 30;

  @media screen and (min-width: 740px) {
    flex-direction: row;
    padding: 4em 3em 7em 3em;
    justify-content: space-between;
  }

  figure {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--poppins);
    color: var(--text-darkgreen);

    @media screen and (min-width: 740px) {
      width: 33.3%;
    }
  }

  .menu ul {
    list-style-type: none;
    padding: 0 1em 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    li a {
      text-decoration: none;
      color: var(--text-darkgreen);
      font-weight: 400;

      &:hover {
        color: var(--button-hover);
      }
    }
  }

  .samenwerken {
    @media screen and (min-width: 740px) {
      width: 35%;
    }

    a:hover {
      color: var(--button-hover);
    }
  }
}